Package: com.peterdev.kakaotalktools
Name: KakaoTalk Tools
Depends: mobilesubstrate, ws.hbang.common (>= 1.11)
Version: 1.0
Architecture: iphoneos-arm
Description: 카카오톡을 제어합니다.
Maintainer: PeterDev <djperter@icloud.com>
Author: PeterDev <djperter@icloud.com>
Section: Tweaks
Depiction: http://nexusrepo.kro.kr/depictions/?p=com.peterdev.kakaotalktools
