<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>KakaoTalk Tools</string>
	<key>items</key>
	<array>

		<!--Banner-->
<dict>
	<key>cell</key>
	<string>PSGroupCell</string>
	<key>headerCellClass</key>
	<string>HBPackageNameHeaderCell</string>
	<key>packageIdentifier</key>
	<string>com.peterdev.kakaotalktools</string>
	<key>backgroundGradientColors</key>
	<array>
		<string>#ffe259</string>
    <string>#ffa751</string>
	</array>
	<key>titleColor</key>
	<string>#ffffff</string>
	<key>subtitleColor</key>
	<string>#ffffff</string>
</dict>


<!--Credits-->
    <dict>
    	<key>cell</key>
    	<string>PSGroupCell</string>
    	<key>label</key>
    	<string>DEVELOPER</string>
    </dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>big</key>
			<true/>
			<key>height</key>
			<integer>56</integer>
			<key>label</key>
			<string>PeterDev</string>
			<key>user</key>
			<string>iospeterdev</string>
		</dict>

<!--Enable-->

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.peterdev.kakaotalktools</string>
			<key>key</key>
			<string>kEnable</string>
			<key>label</key>
			<string>ENABLE</string>
			<key>PostNotification</key>
			<string>com.peterdev.kakaotalktools/settingschanged</string>
		</dict>

		<!--Features-->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FEATURES</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>KTTFeaturesListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>FEATURES</string>
		</dict>

		<!--Tweak Settings-->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TWEAK_SETTING</string>
			<key>footerText</key>
			<string>YOU_MIGHT_NEED_TO_APPLY_CHANGES_TWICE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.peterdev.kakaotalktools</string>
			<key>key</key>
			<string>kDarkModeSettings</string>
			<key>label</key>
			<string>DARK_MODE_SETTINGS</string>
			<key>PostNotification</key>
			<string>com.peterdev.kakaotalktools/settingschanged</string>
		</dict>
		<dict>
			<key>action</key>
			<string>killkakaotalk:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>APPLY_CHANGES</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>isDestructive</key>
			<true/>
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>ARE_YOU_SURE_TO_RESPRING</string>
				<key>title</key>
				<string>OK</string>
				<key>okTitle</key>
				<string>OK_TITLE</string>
				<key>cancelTitle</key>
				<string>CANCEL</string>
			</dict>
			<key>label</key>
			<string>RESPRING</string>
		</dict>
		<dict>
			<key>action</key>
			<string>resetprefs:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>isDestructive</key>
			<true/>
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>ARE_YOU_SURE_TO_RESET_PREFS</string>
				<key>title</key>
				<string>OK</string>
				<key>okTitle</key>
				<string>OK_TITLE</string>
				<key>cancelTitle</key>
				<string>CANCEL</string>
			</dict>
			<key>label</key>
			<string>RESET_PREFS</string>
		</dict>


<!--Links-->
<dict>
	<key>cell</key>
	<string>PSGroupCell</string>
	<key>label</key>
	<string>LINKS</string>
</dict>
<dict>
	<key>cell</key>
	<string>PSLinkCell</string>
	<key>detail</key>
	<string>KTTAboutListController</string>
	<key>isController</key>
	<true/>
	<key>label</key>
	<string>CONTRIBUTORS</string>
</dict>
<dict>
	<key>cellClass</key>
	<string>HBLinkTableCell</string>
	<key>icon</key>
	<string>github@2x.png</string>
	<key>label</key>
	<string>Github</string>
	<key>subtitle</key>
	<string>SOURCE_CODE</string>
	<key>url</key>
	<string>https://github.com/peterprd/KakaoTalk-Tools</string>
</dict>
<dict>
	<key>cellClass</key>
	<string>HBLinkTableCell</string>
	<key>icon</key>
	<string>paypal@2x.png</string>
	<key>label</key>
	<string>DONATE_TO_PETERDEV</string>
	<key>subtitle</key>
	<string>SUPPORT_ME</string>
	<key>url</key>
	<string>https://paypal.me/peterdevkr/</string>
</dict>
<dict>
	<key>cellClass</key>
	<string>HBLinkTableCell</string>
	<key>icon</key>
	<string>email@2x.png</string>
	<key>label</key>
	<string>E_MAIL</string>
	<key>subtitle</key>
	<string>SEND_BUG_TO_ME</string>
	<key>url</key>
	<string>mailto:djperter@icloud.com</string>
</dict>

<!--CopyRight-->
<dict>
	<key>cell</key>
	<string>PSGroupCell</string>
	<key>footerAlignment</key>
	<string>1</string>
	<key>footerText</key>
	<string>© PeterDev 2018 - KakaoTalk Tools 2.1</string>
	<key>isStaticText</key>
	<true/>
</dict>

	</array>
	<key>title</key>
	<string>KakaoTalk Tools</string>
</dict>
</plist>
